.section {
  position: relative;
  height: calc(100vh - 60px);
  background-image: url('../../img/images/Background-element-main-page.png'),
    url('../../img/images/Bottle-for-Sign-In-pc.png');
  background-size: auto, 55%;
  background-position: bottom 0px center, bottom 40px left -51px;
  background-repeat: no-repeat;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 140px 20px 20px 840px;
}
