.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    color: #2f2f2f;
}

.input {
    border: 1px solid #d7e3ff;
    border-radius: 6px;
    padding: 12px 10px;
    width: 100%;
    height: 44px;
    line-height: 1.25;
    color: #407bff;
    outline-color: #407bff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
