.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  background-image: url('../../img/images/Bottle-home-screen-phone.png'),
    url('../../img/images/background_element_home_screen_phone.png');
  background-size: auto, auto;
  background-position: top 106px center, top 52px center;
  background-repeat: no-repeat;
  padding: 24px 20px 40px;
  margin: 0 auto;
  max-width: 320px;
  min-height: 100vh;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  .container {
    background-image: url('../../img/images/Bottle-home-screen-phone@2x.png'),
      url('../../img/images/background_element_home_screen_tab@2x');
  }
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url('../../img/images/Bottle-home-screen-tab.png'),
      url('../../img/images/background_element_home_screen_tab.png');
    background-position: top 40px center, top 24px center;
    max-width: 768px;
    padding: 16px 32px 44px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx) {
    .container {
      background-image: url('../../img/images/Bottle-home-screen-tab@2x.png'),
        url('../../img/images/background_element_home_screen_phone@2x');
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    gap: 32px;
    max-width: 1440px;
    padding: 0px 112px 40px;
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-image: url('../../img/images/Bottle-home-screen-pc.png'),
      url('../../img/images/Background-element-main-page.png');
    background-position: top 0 left, top 20px center;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx) {
    .container {
      background-image: url('../../img/images/Bottle-home-screen-pc@2x.png'),
        url('../../img/images/background-main-page-pc@2x.png');
    }
  }
}
