.wrap {
  margin-bottom: 12px;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: #2f2f2f;
}

.wrapInput {
  position: relative;
  margin-top: 8px;
}

.eye {
  position: absolute;
  bottom: 12px;
  right: 16px;
  cursor: url('../../../img/pointer.png'), pointer;
}

.icon {
  fill: none;
  stroke-width: 1px;
  stroke: #407bff;
}

.input {
  background: #fff;

  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  width: 100%;
  height: 44px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;

  &:hover {
    outline: transparent;
    color: #407bff;
  }

  &:active {
    outline: transparent;
  }

  &::placeholder {
    color: #9ebbff;
  }

  @media screen and (min-width: 768px) {
    width: 392px;
  }
}

.error {
  color: var(--red-color);
  border: 1px solid var(--red-color);
}
