.mainWrap {
  margin-right: auto;
  margin-left: auto;
  width: 280px;
}

.title {
  font-weight: var(--font-weight-medium);
  font-size: 26px;
  line-height: 1.2;
  color: #2f2f2f;
}

.form {
  background-color: transparent;
}

.wrap {
  margin-top: 16px;
}

.label {
  font-weight: var(--font-weight-regular);
  font-size: var(--secondary-font-size);
  line-height: 1.33333;
  color: #2f2f2f;
}

.input {
  margin-top: 8px;
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  width: 100%;
  height: 44px;
  background: #fff;
  transition: color 0.3s ease-in-out;

  &:hover {
    outline: transparent;
    color: #407bff;
  }

  &:active {
    outline: transparent;
  }

  &::placeholder {
    color: #9ebbff;
  }
}

.error {
  color: var(--red-color);
  border: 1px solid var(--red-color);
}

.button {
  display: block;
  margin: 16px 0;
  width: 100%;
  height: 36px;
  border-radius: 10px;
  background-color: #407bff;
  margin-right: auto;
  margin-left: auto;
  border: transparent;
  padding: 8px 30px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  transition: box-shadow 0.3s ease-in-out;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  color: #fff;

  &:hover {
    box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
  }
  &:active {
    box-shadow: 0 transparent;
  }
}

.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #ff9d43;
  }
}

@media screen and (min-width: 768px) {
  .mainWrap {
    margin-left: 0;
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .mainWrap {
    width: 384px;
  }
}
