.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoLink {
    cursor: url('../../img/pointer.png'), pointer;
}

.userAuthButton {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 28px;
    color: var(--blue-color);
    background-color: transparent;
    border: none;
}

.userLogoButton {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    border: none;
    cursor: url('../../img/pointer.png'), pointer;
}

.userName {
    font-size: 18px;
    line-height: 24px;
    color: var(--black-color);
}

.userAvatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.iconUser {
    fill: none;
    stroke: var(--black-color);
}

.iconDown {
    fill: var(--blue-color);
}

@media screen and (max-width: 768px) {
    .header {
        padding: 8px 20px 0px 20px;
    }

    .userAuthButton {
        font-size: var(--primarily-font-size);
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 16px 34px 0px 32px;
    }

    .userAuthButton {
        font-size: var(--secondary-font-size);
        line-height: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 12px 112px 0px 112px;
    }
}
